body{
    text-align: center;
}
.flexcontainer div{
   height: 100px;
   width: 100px;
   text-align: center;
   margin: auto;
   margin-bottom: 7px;
   margin-top: 7px;
   font-size: 40px;
   transition: width 0.5s;
   font-family: Tahoma, Geneva, sans-serif; 
   background-color: #eeeff2;
}
.b:hover{
    width: 120px;
 }
.d:hover{
   width: 120px;
}
.a,.c,.e{
   animation-name: anime;
     animation-duration: 3s;  
     animation-delay: 2s;
     animation-fill-mode: both;
     animation-iteration-count:infinite;
   background-color: #DFE1E7;
}
.f{
    transition: width 0.5s;
}
.f:hover{
   width: 120px;
}
@keyframes anime {
 from {background-color: #DFE1E7;}
 to {background-color: #d0c0d1;}
 from{background-color: #d0c0d1;}
 to {background-color: #DFE1E7;}
}